<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%X{validator}] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="SIFT_TXT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<!-- in the absence of the class attribute, it is assumed that the desired 
			discriminator type is ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
		<discriminator>
			<key>rlcname</key>
			<defaultValue>unknown</defaultValue>
		</discriminator>
		<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
			<marker>VALIDATION_INFO</marker>
		</evaluator>
		<sift>
			<appender name="FILE_TXT" class="ch.qos.logback.core.FileAppender">
				<append>false</append>
				<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
					<layout class="ch.qos.logback.classic.PatternLayout">
						<pattern>%level [%X{validator}]  - %msg%n</pattern>
					</layout>
				</encoder>
				<file>${rlcname}.txt</file>
			</appender>
		</sift>
	</appender>

	<appender name="SIFT_HTML" class="ch.qos.logback.classic.sift.SiftingAppender">
		<!-- in the absence of the class attribute, it is assumed that the desired 
			discriminator type is ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
		<discriminator>
			<key>rlcname</key>
			<defaultValue>unknown</defaultValue>
		</discriminator>
		<evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
			<marker>VALIDATION_INFO</marker>
		</evaluator>
		<sift>
			<appender name="FILE" class="ch.qos.logback.core.FileAppender">
				<append>false</append>
				<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
					<layout class="ch.qos.logback.classic.html.HTMLLayout">
						<pattern>%X{validator}%level%msg</pattern>
					</layout>
				</encoder>
				<file>${rlcname}.html</file>
			</appender>
		</sift>
	</appender>

	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SIFT_TXT" />
		<appender-ref ref="SIFT_HTML" />
	</root>
</configuration>